<div class="referral-program-terms">
    <ol class="list-number">
        <li>
        <b class="liB">REFERRAL PROGRAM</b>
        </li>
    </ol>

    <ol class="list-number">
        <li>
        1. Provident Premier is a program offered by Provident Housing
        Limited exclusively to existing and ex-property owners of
        <%= projectName.includes("Ecopolitan") ? "Provident White Oaks LLP" : "Provident Housing Limited"%> (“Referrer”), during the currency of
        this programme.
        </li>
    </ol>
    <ol class="list-number">
        <li>
        2. Referrers are required to submit a Referral Registration
        Form, as soon as their referred family or friend buy
        Flat/condos/villa/plots property in any Provident Housing
        Limited.
        </li>
    </ol>
    <ol class="list-number">
        <li>
        3. Referrers who approach the Company through Brokers, Real
        Estate Agents and Channel Partners of <%= projectName.includes("Ecopolitan") ? "Provident White Oaks LLP" : "Provident Housing Limited"%>
        / Puravankara are not eligible to participate in this scheme.
        </li>
    </ol>
    <ol class="list-number">
        <li>
        4. Any referral registered by the Referrer on the portal
        (Providentpremier.com) will be valid for only 90 days for that
        referral and shall lapse unless extended by the company, or upon
        receipt of an extension form by the referrer / applicant. In
        case the sale is not concluded within 90 days or such extended
        time, the Referrer will not be entitled to any Referral Rewards.
        </li>
    </ol>
    <ol class="list-number">
        <li>
        5. As soon as a referral is registered on the portal
        (providentpremir.com) with complete details of person interested
        in purchasing an apartment, the Cognizant Office shall do the
        needful in converting the sale and shall update the status to
        the Referrer. The Referrer is eligible for referral rewards in
        the form of points only after Agreement for Sale and
        Construction Agreement are executed by such customer along with
        15% of the sale value.
        </li>
    </ol>
    <ol class="list-number">
        <li>
        6. The Referral Rewards shall be restricted to 2% of the Basic
        Cost of the apartment (taxes and other charges excluded) which
        is equally distributed between Referrer & Referee. For repeat
        Purchase up-to 2% of Basic Cost of the apartment/ plot as Reward
        Points which can be utilized in the manner provided above.
        </li>
    </ol>
    <ol class="list-number">
        <li>
        7. Rewards are provided in the form of Points – 1 Point is
        equivalent to1 rupees – Subject to change without notice.
        </li>
    </ol>
    <ol class="list-number">
        <li>
        8. Any disputes that may arise in relation to this policy the
        matter shall be referred to arbitration by the Director, Sales
        and Marketing of <%= projectName.includes("Ecopolitan") ? "Provident White Oaks LLP" : "Provident Housing Limited"%>, whose decision shall
        be final and binding on the Referrer.
        </li>
    </ol>
    <ol class="list-number">
        <li>
        9. The Reward payable shall stand adjusted against any
        outstanding amount payable under any head to Provident /
        Puravankara. Balance amount if any payable post such adjustment
        will be adjusted against future demands that will be raised by
        Puravankara/ Provident.
        </li>
    </ol>
</div>