<div class="referral-program-terms">
    <ol class="list-number">
        <li>
        <b class="liB">REFERRAL PROGRAM</b>
        </li>
    </ol>

    <ol class="list-number">
        <li>
        1. Purva Privilege is a program offered by Puravankara Limited.
        exclusively for home owners in Puravankara Ltd. projects or
        projects developed by its subsidiary companies.
        </li>
    </ol>
    <ol class="list-number">
        <li>
        2. The applicant is required to submit this Referral
        Registration Form, when they wish to refer any interested person
        to buy a property in any Puravankara Projects.
        </li>
    </ol>
    <ol class="list-number">
        <li>
        3. Existing owners who approach the Company through Brokers,
        Real Estate Agents and Channel Partners of Puravankara are not
        eligible to participate in this scheme.
        </li>
    </ol>
    <ol class="list-number">
        <li>
        4. Any referral registered by an existing owner will be valid
        for only 90 days and shall lapse unless extended by the company,
        or upon receipt of an extension from by the referrer/ applicant.
        Any sale closed, thereafter is not entitled to any referral
        benefit.
        </li>
    </ol>
    <ol class="list-number">
        <li>
        5. Once a referral is registered with complete details of the
        interested person, the sales team shall do the needful in
        converting the sale and update the status to the referrer. The
        referrer is eligible for referral benefit only after Agreement
        for Sale and Construction Agreement are executed by such
        customer along with payment of 15% of the sale value. 15%
        payment for ongoing and ready to move in projects.
        </li>
    </ol>
    <ol class="list-number <%= (termsCondition?.termsConditions !='provident_terms' && termsCondition?.termsConditions !='provident_land_terms' && !referrerPage ) ? 'page-break' : '';%>">
        <li>
        6. The referral benefit shall be restricted to 2% (1% to
        referrer and 1% to referee) of the Basic Cost of the apartment
        excluding taxes and other charges, in the form of Privilege
        Points. The Privilege points shall be credited within 45 days,
        post 15% of payment towards the unit. For self-purchase, up-to 2
        % of the Basic Cost of the unit excluding taxes and other
        charges, will be paid in the form of Privilege points. The
        referral points so credited to the referee's Purva Privilege
        account can be redeemed through Purva Privilege website
        (www.purvaprivilege.com)
        </li>
    </ol>
    <ol class="list-number">
        <li>
        7. The disputes arising out of this policy between the applicant
        and the sales team shall be referred to arbitration by the Head
        of Customer Experience & Loyalty Sales whose decision shall be
        final and binding on both parties.
        </li>
    </ol>
</div>