<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>Daily Report</title>
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--[if mso]>
    <style type="text/css">
      body, table, td { font-family: Arial, sans-serif !important; }
    </style>
  <![endif]-->
  <style type="text/css">
    img { border:0; outline:none; text-decoration:none; }
    table { border-collapse:collapse; }
    a { text-decoration:none; }
  </style>
</head>
<body style="margin:0; padding:0; background:#F4F4F4; font-family: Poppins, 'Lato', sans-serif;">
  <div style="width:100%; max-width:1000px; margin:0 auto; background:#fff; border-radius:4px; overflow:hidden; box-shadow:0 2px 8px rgba(0,0,0,0.04);">
    <div style="padding:0; font-size:14px; font-weight:400; line-height:21px; text-align:left; color:#000;">
      {{BODY}}
    </div>
  </div>
</body>
</html>
